.rmt-button {
    border: 1px solid #333;
    outline: none;
    padding: 10px 15px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

/*.rmt-button:hover {
    background-color: white;
    color: #333;
}*/

.rmt-button--spaced:not(:last-child) {
    margin-right: 1px;
}

.rmt-button.selected {
    background-color: rgba(231, 76, 60, 0.4);
    color: #333;
}
