<div class="food-entry__container" ng-mouseleave="showMiddleStep = false; showQuantity = false">
    <!-- NAME and QUANTITY -->
    <div class="food-entry__frontside flex" ng-click="clicked()" ng-hide="showMiddleStep || showQuantity">
        <div class="food-entry__info">
            <span class="food-entry__name">{{name | lowercase}}</span>
            <span class="food-entry__note">{{note | lowercase | limitTo:10}}</span>
        </div>
        <span class="food-entry__quantity flex flex-center" ng-show="quantity">{{quantity}}</span>
    </div>
    <!-- NOTE | QUANTITY selector (optional) -->
    <div class="food-entry__middlestep flex flex-center" ng-show="showMiddleStep">
        <div class="food-entry__btn flex1" ng-click="onnote(); showMiddleStep = false">NOTA</div>
        <div class="food-entry__btn food-entry__btn--qty flex1" ng-click="showQuantity = true; showMiddleStep = false">QTA</div>
    </div>
    <!-- QUANTITY plus/minus -->
    <div class="food-entry__backside flex flex-center" ng-show="showQuantity">
        <span class="glyphicon glyphicon-minus" ng-click="onminus()"></span>
        <span class="food-entry__quantity flex flex-center">{{quantity}}</span>
        <span class="glyphicon glyphicon-plus" ng-click="onplus()"></span>
    </div>
</div>
