<div class="container" ng-controller="FoodCtrl">
    <h1>Food!</h1>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li ng-repeat="food in foodList" ng-click="orderFood(food)" ng-swipe-left="food.name='ciao'" class="list-group-item">
                    <span class="food-name">{{food.name | lowercase}}</span>
                    <span class="food-quantity badge pull-right">{{appstate.order.getQuantity(food)}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>