<div ng-controller="OrderCtrl">
    <h1><span class="glyphicon glyphicon-list"></span>Order!</h1>
    <ul class="list-group">
        <li ng-repeat="item in orderContent.content" class="list-group-item">
            <span class="food-name">{{item.food.name | lowercase}}</span>
            <span class="food-quantity badge pull-right">{{item.quantity}}</span>
            <div class="food-remove" ng-click="removeFood(item)">Remove</div>
        </li>
    </ul>
    <p class="order-total">Total: {{orderContent.total + '€'}}</p>
</div>