<div ng-controller="OrderCtrl">
    <h1 class="flex flex-align-center">
        <span class="glyphicon glyphicon-list"></span>
        <span class="flex1">Order!</span>
        <!-- REMOVE button (becomes DONE button while removing) -->
        <span class="glyphicon glyphicon-trash" ng-click="removing = true" ng-hide="removing == true"></span>
        <span class="glyphicon glyphicon-ok" ng-click="removing = false" ng-show="removing == true"></span>
    </h1>
    <!-- ORDER ITEMS -->
    <ul ng-hide="note.visible" class="list-group">
        <li ng-repeat="item in orderContent" class="list-group-item">
            <food-entry name="item.food.name" quantity="item.quantity" note="item.note" onnote="showNote(item)" onplus="orderFood(item)" onminus="reduceFood(item)"></food-entry>
            <!-- REMOVE FOOD button, overlays on top of the food's quantity -->
            <div ng-show="removing == true" class="food-remove flex flex-center" ng-click="removeFood(item)">X</div>
        </li>
    </ul>
    <!-- NOTE TAKER -->
    <ul ng-show="note.visible" class="list-group">
        <li class="list-group-item">
            <food-entry name="note.item.food.name" quantity="note.item.quantity" note="item.note" onplus="orderFood(item)" onminus="reduceFood(item)"></food-entry>
            <!-- SAVE NOTE button, overlays food's quantity -->
            <div class="save-note flex flex-center" ng-click="note.visible = false; saveNote(note)">Save</div>
        </li>
        <p>Take a note:</p>
        <textarea cols="30" rows="10" ng-model="note.text"></textarea>
    </ul>
</div>
