<h1><span class="glyphicon glyphicon-home"></span>Home: ordini attivi</h1>
<div ng-controller="TablesCtrl">
    <ul class="nav nav-tabs">
        <li ng-repeat="room in rooms" ng-class="{active: appstate.room == room}" ng-click="selectRoom(room)">
            <a href="#">Room {{room.id}}</a>
        </li>
    </ul>
    <ul class="list-group">
        <li ng-repeat="table in tables | filter:{busy: true}" ng-click="selectTable(table)" class="list-group-item flex flex-align-center">
            Table {{table.id}}
        </li>
    </ul>
</div>
