/* foodEntry.css */

.food-entry__container {
    height: 100%;
}

.food-entry__frontside {
    align-items: center;
    height: 100%;
}

.food-entry__middlestep {
    height: 100%;
}

.food-entry__backside {
    height: 100%;
}

.food-entry__backside .glyphicon {
    font-size: 2em;
    margin: 0 35px;
    line-height: 50px;
    flex: 1;
}

.food-entry__backside .glyphicon-minus {
    text-align: right;
}

.food-entry__quantity {
    display: inline-block;
    background: #333333;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 1.4em;
}

.food-entry__info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.food-entry__name {
    flex: 1;
}

.food-entry__note {
    font-size: 0.8em;
    color: #666;
    text-transform: uppercase;
}

.food-entry__btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.food-entry__btn--qty {
    color: white;
    background-color: #333333;
}
